.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #004980;
}

.modal {
  width: 480px;
  padding: 50px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #004980;
  text-align: center;
  font-family: StratosSkyeng, sans-serif;
  font-size: 40px;
  margin-bottom: 48px;
}

.levels {
  display: flex;
  gap: 26px;
  margin-bottom: 67px;
}

.levelButton {
  width: 98px;
  height: 98px;
  border-radius: 12px;
  background-color: #fff;
  border: none;
  color: #0080c1;
  font-family: StratosSkyeng, sans-serif;
  font-size: 64px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.levelButton.selected {
  background-color: #0080c1;
  color: #fff;
}

.checkbox {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}

.checkbox label {
  font-family: StratosSkyeng, sans-serif;
  font-size: 18px;
  color: #004980;
}

.playButton {
  width: 246px;
  height: 50px;
  margin-bottom: 20px;
}

.leaderboardLink {
  font-family: StratosSkyeng, sans-serif;
  font-size: 18px;
  color: #0080c1;
  text-decoration: none;
}

.leaderboardLink:hover {
  text-decoration: underline;
}
